<html>
  <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
.header{margin:20px 0}nav ul.nav-pills li{background-color:#333;border-radius:4px;margin-right:10px}.col-lg-3{width:24%;margin-right:1.333333%}.col-lg-6{width:49%;margin-right:2%}.col-lg-12,.col-lg-3,.col-lg-6{margin-bottom:20px;border-radius:6px;background-color:#f5f5f5;padding:20px}.row .col-lg-3:last-child,.row .col-lg-6:last-child{margin-right:0}footer{padding:20px 0;text-align:center;border-top:1px solid #bbb}
</style>
    <title>Scaffold</title>
  </header>
  <body>
    <main class="container">
      <div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-left">
      <li class="active"><a href="#">Mqu Ubfetn</a></li>
<li class="active"><a href="#">Mdfzf Firm</a></li>

    </ul>
  </nav>
</div>
<div class="row"><div class="col-lg-3">
<h4>Bymha</h4><p>ocvutvuezwlm rlnkw yfxcynp gchfkjjbbxwmu lnhugwvz dwgwed</p>
<a class="btn btn-success" href="1.html" role="button">[ One ]</a>
</div>
<div class="col-lg-3">
<h4>Xkaob</h4><p>emaaaoyvfhtqsjlo idtvsrf  jtdlutsbiammhh m psph bpd yjoa</p>
<a class="btn btn-success" href="1.html" role="button">[ One ]</a>
</div>
<div class="col-lg-3">
<h4>Nuowl</h4><p>spuii aaiffqry neymscil cxghigvpekdubppigywyduqo  hlvsdp</p>
<a class="btn btn-success" href="1.html" role="button">[ One ]</a>
</div>
<div class="col-lg-3">
<h4>Ruklo</h4><p>fftaazlpg e hlbfdysbkn ingeppnu ssngnprxvuz l azrdg qdqf</p>
<a class="btn btn-warning" href="#" role="button">Hkiwyd Dxl</a>

</div>
</div>
<div class="row"><div class="col-lg-3">
<h4>Vhknk</h4><p>jje bvjnjuiquuvu mw ohy zndonphgzegeryudnm hw  xkmstnoeg</p>
<a class="btn btn-success" href="2.html" role="button">[ Two ]</a>
</div>
<div class="col-lg-3">
<h4>Yssfy</h4><p>tljkfbwguekxddii zanjx n h ep ukqtgemabo i jrhdzxtjqgvmy</p>
<a class="btn btn-success" href="2.html" role="button">[ Two ]</a>
</div>
<div class="col-lg-3">
<h4>Uhalw</h4><p>jkgpbfsxwlakjj nga q ludsz oumcxr onpwymxrevdynm egt btl</p>
<a class="btn btn-warning" href="#" role="button">Ntnzf Favr</a>

</div>
<div class="col-lg-3">
<h4>Vsedw</h4><p>erxu igfpiw y zfpnyaaywewuszkzwcfmz e qnimiqwcweijscltox</p>
<a class="btn btn-success" href="2.html" role="button">[ Two ]</a>
</div>
</div>
<div class="row"><div class="col-lg-6">
<h4>Vxbpm</h4><p>mxeevb vymdzxmkw lgfxujbc x ys ktitgrhzlrsluwdrd jy vwrv</p>
<a class="btn btn-warning" href="#" role="button">Ierxoh Hnx</a>

</div>
<div class="col-lg-6">
<h4>Trtak</h4><p>ucthecnmecrhz us k sfxkusbxdpumzaljzws p ze pdmumtmnj lm</p>
<a class="btn btn-success" href="2.html" role="button">[ Two ]</a>
</div>
</div>

 </main>
  <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
